USE [master]
GO
/****** Object:  Database [mystore]    Script Date: 5/20/2022 4:32:34 PM ******/
CREATE DATABASE [mystore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mystore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\mystore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mystore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\mystore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mystore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mystore]
GO
/****** Object:  Table [dbo].[chi_tiet_hoa_don]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_hoa_don](
	[hoaDonId] [int] NOT NULL,
	[sanPhamId] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonId] ASC,
	[sanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[hoaDonId] [int] IDENTITY(1,1) NOT NULL,
	[ngayMua] [datetime2](7) NULL,
	[nguoiDungId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hoaDonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[hoTenDem] [nvarchar](255) NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[ten] [nvarchar](255) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[sanPhamId] [int] IDENTITY(1,1) NOT NULL,
	[donGia] [float] NOT NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[loaiSanPham] [int] NULL,
	[moTa] [nvarchar](255) NULL,
	[soLuong] [int] NOT NULL,
	[tenSanPham] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[sanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_table]    Script Date: 5/20/2022 4:32:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[hoa_don] ON 

INSERT [dbo].[hoa_don] ([hoaDonId], [ngayMua], [nguoiDungId]) VALUES (1, CAST(N'2022-05-11T09:43:00.6150000' AS DateTime2), 7)
INSERT [dbo].[hoa_don] ([hoaDonId], [ngayMua], [nguoiDungId]) VALUES (2, CAST(N'2022-05-20T15:17:56.4290000' AS DateTime2), 7)
INSERT [dbo].[hoa_don] ([hoaDonId], [ngayMua], [nguoiDungId]) VALUES (3, CAST(N'2022-05-20T16:04:13.3730000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([id], [diaChi], [hoTenDem], [soDienThoai], [ten], [user_id]) VALUES (2, N'12, Nguyễn Văn Bảo,P4,Gò Vấp,HCM', N'Nguyen Thi Quynh', N'0999999999', N'Mai', 2)
INSERT [dbo].[nguoi_dung] ([id], [diaChi], [hoTenDem], [soDienThoai], [ten], [user_id]) VALUES (7, N'12, Nguyễn Văn Bảo,P4,Gò Vấp,HCM', N'Pham Xuan', N'0999999999', N'Vu', 12)
INSERT [dbo].[nguoi_dung] ([id], [diaChi], [hoTenDem], [soDienThoai], [ten], [user_id]) VALUES (8, N'12, Nguyễn Văn Bảo,P4,Gò Vấp,HCM', N'Phạm Xuân', N'0349380770', N'Vũ', 13)
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'ROLE_MEMBER')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([sanPhamId], [donGia], [hinhAnh], [loaiSanPham], [moTa], [soLuong], [tenSanPham]) VALUES (1, 99000, N'/images/socola1.jpg', 1, N'Với thành phần cacao nguyên chất ăn rất tốt cho sức khỏe, giúp lưu thông máu, ngăn ngừa bệnh Ung Thư, giảm stress, thích hợp người bệnh tiểu đường….Mỗi ngày bạn hãy nên ăn 1 lượng SOCOLA đen để bổ sung dưỡng chất cần thiết cho cơ thể mình nhé', 10, N'Socola đen')
INSERT [dbo].[san_pham] ([sanPhamId], [donGia], [hinhAnh], [loaiSanPham], [moTa], [soLuong], [tenSanPham]) VALUES (2, 150000, N'/images/keo2.jpg', 0, N'Với thành phần cacao nguyên chất ăn rất tốt cho sức khỏe, giúp lưu thông máu, ngăn ngừa bệnh Ung Thư, giảm stress, thích hợp người bệnh tiểu đường….Mỗi ngày bạn hãy nên ăn 1 lượng SOCOLA đen để bổ sung dưỡng chất cần thiết cho cơ thể mình nhé', 10, N'Kẹo nhật bản')
INSERT [dbo].[san_pham] ([sanPhamId], [donGia], [hinhAnh], [loaiSanPham], [moTa], [soLuong], [tenSanPham]) VALUES (3, 99000, N'/images/keo1.jpg', 0, N'Với thành phần cacao nguyên chất ăn rất tốt cho sức khỏe, giúp lưu thông máu, ngăn ngừa bệnh Ung Thư, giảm stress, thích hợp người bệnh tiểu đường….Mỗi ngày bạn hãy nên ăn 1 lượng SOCOLA đen để bổ sung dưỡng chất cần thiết cho cơ thể mình nhé', 10, N'Kẹo trái cây')
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (12, 1)
INSERT [dbo].[user_role] ([user_id], [role_id]) VALUES (12, 2)
GO
SET IDENTITY_INSERT [dbo].[user_table] ON 

INSERT [dbo].[user_table] ([id], [email], [password]) VALUES (2, N'quynhmai@gmail.com', N'$2a$10$cZgY0.ryDoDW1CnQS4LdOuGieM1sshOONT0XSKjv3n.NSN0jgyqcm')
INSERT [dbo].[user_table] ([id], [email], [password]) VALUES (12, N'admin@gmail.com', N'$2a$10$hdVmK7KeLxrGE7GXkT88NuT2.b651aqurYCSw46zjAdTr.GYfFC7q')
INSERT [dbo].[user_table] ([id], [email], [password]) VALUES (13, N'adsds3@gmail.com', N'$2a$10$RwlRtmA6WX6VTy50FMluaOR7MadY1.MIOLQj7xC.mwYLKsBy.O8L.')
SET IDENTITY_INSERT [dbo].[user_table] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_eamk4l51hm6yqb8xw37i23kb5]    Script Date: 5/20/2022 4:32:34 PM ******/
ALTER TABLE [dbo].[user_table] ADD  CONSTRAINT [UK_eamk4l51hm6yqb8xw37i23kb5] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK16voww4f2j77jglp33ybg9mq6] FOREIGN KEY([sanPhamId])
REFERENCES [dbo].[san_pham] ([sanPhamId])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK16voww4f2j77jglp33ybg9mq6]
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK5dcdxt5gx75uv04b8soyaoetg] FOREIGN KEY([hoaDonId])
REFERENCES [dbo].[hoa_don] ([hoaDonId])
GO
ALTER TABLE [dbo].[chi_tiet_hoa_don] CHECK CONSTRAINT [FK5dcdxt5gx75uv04b8soyaoetg]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK6fy831iu599tdm1dlx9y3wj36] FOREIGN KEY([nguoiDungId])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK6fy831iu599tdm1dlx9y3wj36]
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD  CONSTRAINT [FK409v4t58atleesi6xxj5c91a3] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_table] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung] CHECK CONSTRAINT [FK409v4t58atleesi6xxj5c91a3]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK5cwpllhe458f6j6fb7rmhfyt2] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_table] ([id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK5cwpllhe458f6j6fb7rmhfyt2]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FKa68196081fvovjhkek5m97n3y] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FKa68196081fvovjhkek5m97n3y]
GO
USE [master]
GO
